.side
  .side-header
    .top-items
      .name
        .user masa
        .icon
          %i.far.fa-edit
          %i.fas.fa-cog


  .groups
    .group
      .group__name
        test
      .group__message
        メッセージなし
    

